@charset "UTF-8";

:root {
  --text-color: #432;
  --text-hover: #0bd;
}


html {
  font-size: 100%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: var(--text-color);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.align-center {
  text-align: center;
}
.font-english {
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
}

.page-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.4;
}

.page-header {
  padding-top: .5rem;
}
.logo {
  width: 210px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
  a {
    color: var(--text-color);
    &:hover {
      color: var(--text-hover);
    }
  }
}

.cover {
  background-size: cover;
  background-position: center bottom;
  height: 800px;
}
.cover-home {
  background-image: url(../images/cover-home-s.webp);
}
