@charset "UTF-8";

:root {
  --text-color: #432;
  --main: #0bd;
}


html {
  font-size: 100%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: var(--text-color);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.align-center {
  text-align: center;
}
.font-english {
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
}

.page-title,
.heading-large {
  font-size: 3rem;
  text-align: center;
}
.page-title {
  margin-top: 2rem;
  line-height: 1.4;
}
.heading-large {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  background-color: var(--main);
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;

  &:hover {
    background-color: #0090aa;
  }
}

.page-header {
  padding-top: .5rem;
}
.logo {
  width: 210px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
  a {
    color: var(--text-color);
    &:hover {
      color: var(--main);
    }
  }
}

.cover {
  background-size: cover;
  background-position: center bottom;
  height: 800px;
}
.cover-home {
  background-image: url(../images/cover-home-s.webp);
}

.about {
  max-width: 736px;
  padding: 0 1.5rem;
  margin: 3rem auto 4rem;

  p {
    margin-bottom: 3rem;
  }
}

